body {
  padding: 40px 0px 0px 40px;
}

h1 {
  font-family: monospace;
  font-size: 24px;
}

/*styling taken from http://fire.ascii.uk/*/
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px 1em;
}

h2 {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 40px;
  font-size: 24px;
}
h3 {
  font-family: sans-serif;
  margin-top: 5px;
  font-size: 18px;
}

h4 {
  font-family: sans-serif;
  margin-top: 8px;
  font-size: 14px;
  font-style: italic;
}
#navigation {
  position: fixed;
  top: 350px;

}
.box {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 5px;
  float: left;
  box-shadow: 3px 3px 20px grey;
}

.active {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, blue, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, blue, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, blue, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, blue, yellow); /* Standard syntax */
}
